<section class="advantages">
  <div class="advantages__content">
    <div>
      <p class="advantages__subtitle">Наши преимущества</p>
      <h1 class="advantages__title">
        SEO-System? <br />
        <span>Гарантия</span> роста!
      </h1>
    </div>
    <div class="advantages__right">
      <p>Мы используем проверенные стратегии и современные технологии, чтобы ваш сайт занимал топовые позиции в поиске.</p>
      <p>С нами вы получаете индивидуальные решения и долгосрочный рост трафика.</p>
    </div>
  </div>

  <div class="advantages-cards">
    <div class="advantages-card">
      <img src="/images/adv1.jpg" alt="Rocket" />
      <div class="advantages-number">01</div>
      <p class="advantages-text">
        Отправляем в<br />
        космос позиции вашего сайта
      </p>
      <div class="advantages-description">
        Мы оптимизируем ваш сайт для поисковых систем, создаем качественный контент и наращиваем ссылочный профиль, чтобы повысить видимость в поисковой выдаче и привлечь целевых посетителей.
        Регулярно анализируем результаты и корректируем стратегию для стабильного роста.
      </div>
      <div class="advantages-title-bottom">Отправляем в космос позиции вашего сайта</div>
    </div>

    <div class="advantages-card other-style">
      <p class="advantages-text other-style">
        Сроки<br />
        продвижения всего от 1 дня!
      </p>
      <img src="/images/adv2.jpg" alt="Clock" />
      <div class="advantages-number other-style">02</div>
      <div class="advantages-description other-style">
        Мы выводим сайты в топ поисковой выдачи за счет комплексной оптимизации, качественного контента и естественного ссылочного профиля. Постоянно отслеживаем позиции и адаптируем стратегию для
        максимальной эффективности.
      </div>
      <div class="advantages-title-bottom other-style">
        Сроки<br />
        продвижения всего от 1 дня!
      </div>
    </div>

    <div class="advantages-card">
      <img src="/images/adv3.jpg" alt="Globe" class="img-last" />
      <div class="advantages-number">03</div>
      <p class="advantages-text">Работаем с абсолютно любой тематикой</p>
      <div class="advantages-description">
        Комплексно продвигаем сайты в поисковых системах: от технической оптимизации до создания полезного контента и естественного ссылочного роста. Постоянно анализируем эффективность и адаптируем
        стратегию для достижения ваших бизнес-целей.
      </div>
      <div class="advantages-title-bottom">Работаем с абсолютно любой тематикой</div>
    </div>
  </div>
</section>
