<section class="advantages" id="advantages">
  <div class="advantages__content">
    <div>
      <p class="advantages__subtitle">Наши преимущества</p>
      <h1 class="advantages__title">
        SEO-System? <br />
        <span>Гарантия</span> роста!
      </h1>
    </div>
    <div class="advantages__right">
      <p>Мы используем проверенные стратегии и современные технологии, чтобы ваш сайт занимал топовые позиции в поиске.</p>
      <p>С нами вы получаете индивидуальные решения и долгосрочный рост трафика.</p>
    </div>
  </div>

  <div class="advantages__cards">
    <div class="advantages__card">
      <img src="/images/adv1.jpg" alt="Rocket" class="advantages__card-img" />
      <div class="advantages__card-number">01</div>
      <p class="advantages__card-text">
        Отправляем в<br />
        космос позиции вашего сайта
      </p>
      <div class="advantages__card-description">
        Мы оптимизируем ваш сайт для поисковых систем, создаем качественный контент и наращиваем ссылочный профиль, чтобы повысить видимость в поисковой выдаче и привлечь целевых посетителей.
        Регулярно анализируем результаты и корректируем стратегию для стабильного роста.
      </div>
      <div class="advantages__card-title">Отправляем в космос позиции вашего сайта</div>
    </div>

    <div class="advantages__card advantages__card--other">
      <p class="advantages__card-text advantages__card-text--other">
        Сроки<br />
        продвижения всего от 1 дня!
      </p>
      <img src="/images/adv2.jpg" alt="Clock" class="advantages__card-img" />
      <div class="advantages__card-number advantages__card-number--other">02</div>
      <div class="advantages__card-description advantages__card-description--other">
        Мы выводим сайты в топ поисковой выдачи за счет комплексной оптимизации, качественного контента и естественного ссылочного профиля. Постоянно отслеживаем позиции и адаптируем стратегию для
        максимальной эффективности.
      </div>
      <div class="advantages__card-title advantages__card-title--other">
        Сроки<br />
        продвижения всего от 1 дня!
      </div>
    </div>

    <div class="advantages__card">
      <img src="/images/adv3.jpg" alt="Globe" class="advantages__card-img advantages__card-img--last" />
      <div class="advantages__card-number">03</div>
      <p class="advantages__card-text">Работаем с абсолютно любой тематикой</p>
      <div class="advantages__card-description">
        Комплексно продвигаем сайты в поисковых системах: от технической оптимизации до создания полезного контента и естественного ссылочного роста. Постоянно анализируем эффективность и адаптируем
        стратегию для достижения ваших бизнес-целей.
      </div>
      <div class="advantages__card-title">Работаем с абсолютно любой тематикой</div>
    </div>
  </div>

  <div class="advantages__slider-dots"></div>
</section>
