<div class="banner-container">
  <img src="/images/banner.jpg" alt="Background" class="banner-bg" />
  <div class="banner-wrapper">
    <div class="banner-left--content">
      <h1 class="banner-title">
        Скидка 50%<br />
        на SEO-продвижение!
      </h1>

      <p class="banner-subtitle">До окончания акции осталось:</p>

      <div class="countdown">
        <div class="countdown-item">
          <div class="countdown-number">
            <p id="days">01</p>
          </div>
          <div class="countdown-label">дней</div>
        </div>
        <div class="colon colon-first">:</div>
        <div class="countdown-item">
          <div class="countdown-number">
            <p id="hours">05</p>
          </div>
          <div class="countdown-label">часов</div>
        </div>
        <div class="colon colon-second">:</div>
        <div class="countdown-item">
          <div class="countdown-number">
            <p id="minutes">45</p>
          </div>
          <div class="countdown-label">минут</div>
        </div>
        <div class="colon colon-third">:</div>
        <div class="countdown-item">
          <div class="countdown-number">
            <p id="seconds">12</p>
          </div>
          <div class="countdown-label">секунд</div>
        </div>
      </div>

      <p class="banner-text">
        Скидка только до конца месяца — успей<br />
        поднять свой сайт в топ Google и Яндекс!
      </p>

      <button class="cta-button">
        Получить скидку
        <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
      </button>
    </div>

    <div class="right-content">
      <div class="chart-header">
        <div class="chart-badge">Специальное предложение</div>
        <h3 class="chart-title">Гарантированный<br />рост трафика</h3>
        <p class="chart-subtitle">
          Видимый результат уже через<br />
          14 дней: +234% визитов.<br />
          Данные - больше!
        </p>
      </div>
      <img src="/icons/chart.svg" alt="Chart" class="chart-img" />
    </div>
  </div>
</div>
