<div class="banner">
  <div class="banner__container">
    <img src="/images/banner.jpg" alt="Background" class="banner__bg" />
    <div class="banner__wrapper">
      <div class="banner__left-content">
        <h1 class="banner__title">
          Скидка 50%<br />
          на SEO-продвижение!
        </h1>

        <p class="banner__subtitle">До окончания акции осталось:</p>

        <div class="banner__countdown">
          <div class="banner__countdown-item">
            <div class="banner__countdown-number">
              <p id="days">01</p>
            </div>
            <div class="banner__countdown-label">дней</div>
          </div>
          <div class="banner__colon banner__colon--first">:</div>
          <div class="banner__countdown-item">
            <div class="banner__countdown-number">
              <p id="hours">05</p>
            </div>
            <div class="banner__countdown-label">часов</div>
          </div>
          <div class="banner__colon banner__colon--second">:</div>
          <div class="banner__countdown-item">
            <div class="banner__countdown-number">
              <p id="minutes">45</p>
            </div>
            <div class="banner__countdown-label">минут</div>
          </div>
          <div class="banner__colon banner__colon--third">:</div>
          <div class="banner__countdown-item">
            <div class="banner__countdown-number">
              <p id="seconds">12</p>
            </div>
            <div class="banner__countdown-label">секунд</div>
          </div>
        </div>

        <p class="banner__text">
          Скидка только до конца месяца — успей<br />
          поднять свой сайт в топ Google и Яндекс!
        </p>

        <button class="banner__cta-button">
          Получить скидку
          <img src="/icons/arrow-black.svg" alt="arrow right" />
        </button>
      </div>

      <div class="banner__right-content">
        <div class="banner__chart-header">
          <div class="banner__chart-badge">Специальное предложение</div>
          <h3 class="banner__chart-title">Гарантированный<br />рост трафика</h3>
          <p class="banner__chart-subtitle">
            Видимый результат уже через<br />
            14 дней: +234% визитов.<br />
            Данные - больше!
          </p>
        </div>
        <img src="/icons/chart.svg" alt="Chart" class="banner__chart-img" />
      </div>
    </div>
  </div>
</div>
