<section class="data-growth">
  <div class="data-growth__content">
    <h2 class="data-growth__title">Рост на основе анализа данных</h2>
    <a href="#" class="data-growth__button"
      >Провести аудит
      <img src="/icons/arrowWhite.svg" alt="Arrow White " />
    </a>
  </div>

  <div class="data-growth__stats">
    <div class="stat-card">
      <div class="stat-card__img"><img src="icons/requests.svg" alt="Запросы" /></div>
      <div>
        <p class="stat-card__title">Запросы</p>
        <p class="stat-card__value">10 000+</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-card__img"><img src="icons/garanty.svg" alt="Гарантия" /></div>
      <div>
        <p class="stat-card__title">Гарантия</p>
        <p class="stat-card__value">100%</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-card__img"><img src="icons/safety.svg" alt="Безопасность" /></div>

      <div>
        <p class="stat-card__title">Безопасность</p>
        <p class="stat-card__value">300%</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-card__img"><img src="icons/conversion.svg" alt="Успех" /></div>
      <div>
        <p class="stat-card__title">Успех</p>
        <p class="stat-card__value">150%</p>
      </div>
    </div>
  </div>
</section>
