<header class="header">
  <div class="logo">
    <img src="/icons/logo.svg" alt="Logo" />
  </div>

  <nav class="navigation">
    <ul class="nav-links">
      <li><a href="#main" class="main">Главная</a></li>
      <li><a href="#services">Услуги</a></li>
      <li><a href="#projects">Проекты</a></li>
      <li><a href="#about">О нас</a></li>
      <li><a href="#contacts">Контакты</a></li>
    </ul>
  </nav>

  <div class="menu mobile" id="menuToggle">
    <img src="/icons/menu.svg" alt="Menu" />
  </div>

  <div class="logo mobile">
    <img src="/icons/logo.svg" alt="Logo" />
  </div>

  <div class="contacts-section">
    <img src="/icons/phone.svg" alt="Phone" />
    <a href="tel:+7(495)859-21-36" class="phone">+7(495)859-21-36</a>
    <button class="contacts-btn">
      Оставить заявку
      <img src="/icons/arrowWhite.svg" alt="Arrow Right" />
    </button>
  </div>
</header>

<nav class="mobile-menu" id="mobileMenu">
  <ul>
    <li><a href="#main">Главная</a></li>
    <li><a href="#services">Услуги</a></li>
    <li><a href="#projects">Проекты</a></li>
    <li><a href="#about">О нас</a></li>
    <li><a href="#contacts">Контакты</a></li>
  </ul>
</nav>

<script src="scripts/header.js"></script>
