<section class="promo">
  <div class="promo__text">
    <div class="promo__title">
      <p>Продвижение сайтов в Москве</p>
      <div class="promo__title-map promo__title-map--first">
        <div class="promo__title--wrapper">
          <div class="promo__map-bg">
            <img src="/icons/map.svg" alt="Map" />
          </div>
          <p>Гарантия роста <span>позиций</span></p>
        </div>
        <span class="promo__title-mobile">позиций</span>
      </div>
      <div class="promo__title-map promo__title-map--second">
        <p>в Яндекс и Google</p>
        <img src="/icons/goal.svg" alt="Goal" />
      </div>
    </div>
    <div class="promo__subtitle--mobile">
      <div class="promo__subtitle">
        <img src="/icons/stars.svg" alt="Star" />
        <p>SEO-студия<span>, помогающая вашему бизнесу расти. Оптимизируем сайты, увеличиваем трафик и выводим в топ поисковых систем.</span></p>
      </div>
    </div>
  </div>

  <div class="promo__cards">
    <div class="promo__card--main">
      <div class="promo__tags">
        <span>SEO</span>
        <span>Контент-маркетинг</span>
        <span>Аудит сайта</span>
      </div>
      <div class="promo__tags promo__tags--under">
        <span>Ссылочное продвижение</span>
        <span>Техническая оптимизация</span>
      </div>
      <img class="promo__bg" src="/images/bg1.jpg" alt="SEO illustration" />
      <div class="promo__bottom">
        <div class="promo__progress">
          <img class="promo__bottom-icon" src="/icons/progress.svg" alt="Progress" />
          <p>Креативность, инновации, прогресс</p>
        </div>
        <span class="promo__number--one">01</span>
      </div>
    </div>

    <div class="promo__stats--mobile">
      <p>98% Успешных кейсов</p>
      <p>24/7 Поддержка клиентов</p>
      <p>300+ Сделанных проектов</p>
    </div>

    <div class="promo__card--small">
      <p>Digital продукты</p>
      <span>02</span>
    </div>
    <div class="promo__card--small promo__card--small-blue">
      <span>03</span>
      <p>Маркетинг</p>
    </div>
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg4.jpg" alt="SEO illustration" />
      <div class="promo__blur">
        <span class="promo__number--four">04</span>
        <div class="promo__icon-circle">
          <img src="/icons/seo.svg" alt="SEO" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">ТОПОВОЕ SEO ПРОДВИЖЕНИЕ</p>
          <p class="promo__active-text">Продвигаем сайты, повышаем их видимость и привлекаем целевой трафик для роста бизнеса.</p>
          <a href="#" class="promo__btn-more"
            >Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo__card--small promo__card--small-blue">
      <span>05</span>
      <p>Создание сайтов</p>
    </div>
    <div class="promo__card--small">
      <span>06</span>
      <p>Дизайн</p>
    </div>
  </div>

  <div class="promo__slider">
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg2.jpg" alt="Digital продукты" />
      <div class="promo__blur">
        <span class="promo__number--four">02</span>
        <div class="promo__icon-circle">
          <img src="/icons/digital.svg" alt="digital" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">DIGITAL ПРОДУКТЫ</p>
          <p class="promo__active-text">Создаем и развиваем digital-продукты: от веб-сервисов и мобильных приложений до сложных платформ.</p>
          <a href="#" class="promo__btn-more">
            Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg3.jpg" alt="Marketing" />
      <div class="promo__blur">
        <span class="promo__number--four">03</span>
        <div class="promo__icon-circle">
          <img src="/icons/marketing.svg" alt="Marketing" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">МАРКЕТИНГ</p>
          <p class="promo__active-text">Настраиваем и ведем рекламу, продвигаем в соцсетях, привлекаем лидов и повышаем лояльность.</p>
          <a href="#" class="promo__btn-more">
            Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg4.jpg" alt="SEO illustration" />
      <div class="promo__blur">
        <span class="promo__number--four">04</span>
        <div class="promo__icon-circle">
          <img src="/icons/seo.svg" alt="SEO" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">ТОПОВОЕ SEO ПРОДВИЖЕНИЕ</p>
          <p class="promo__active-text">Продвигаем сайты, повышаем их видимость и привлекаем целевой трафик для роста бизнеса.</p>
          <a href="#" class="promo__btn-more">
            Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg5.jpg" alt="Создание сайтов" />
      <div class="promo__blur">
        <span class="promo__number--four">05</span>
        <div class="promo__icon-circle">
          <img src="/icons/create.svg" alt="Create" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">СОЗДАНИЕ САЙТОВ</p>
          <p class="promo__active-text">Разрабатываем продающие сайты, которые привлекают клиентов, отражают ценности бренда.</p>
          <a href="#" class="promo__btn-more">
            Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo__card--active">
      <img class="promo__bg" src="/images/bg6.jpg" alt="Дизайн" />
      <div class="promo__blur">
        <span class="promo__number--four">06</span>
        <div class="promo__icon-circle">
          <img src="/icons/design.svg" alt="Design" />
        </div>
        <div class="promo__active-content">
          <p class="promo__active-title">ДИЗАЙН</p>
          <p class="promo__active-text">Создаем целостный визуальный образ бренда: от логотипа и айдентики до дизайна интерфейсов.</p>
          <a href="#" class="promo__btn-more">
            Подробнее
            <img src="/icons/arrow-black.svg" alt="arrow right" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="promo__slider-dots"></div>

  <div class="promo__stats">
    <p>98% Успешных кейсов</p>
    <p>24/7 Поддержка клиентов</p>
    <p>300+ Сделанных проектов</p>
  </div>
</section>
