<section class="promo">
  <div class="promo-text">
    <div class="promo-title">
      <p>Продвижение сайтов в Москве</p>
      <div class="promo-title-map first">
        <div class="promo-title--wrapper">
          <div class="map-bg">
            <img src="/icons/map.svg" alt="Map" />
          </div>
          <p>Гарантия роста <span>позиций</span></p>
        </div>
        <span class="promo-title-mobile">позиций</span>
      </div>
      <div class="promo-title-map second">
        <p>в Яндекс и Google</p>
        <img src="/icons/goal.svg" alt="Goal" />
      </div>
    </div>
    <div class="promo-subtitle--mobile">
      <div class="promo-subtitle">
        <img src="/icons/stars.svg" alt="Star" />
        <p>SEO-студия<span>, помогающая вашему бизнесу расти. Оптимизируем сайты, увеличиваем трафик и выводим в топ поисковых систем.</span></p>
      </div>
    </div>
  </div>

  <div class="promo-cards">
    <div class="promo-card promo-main">
      <div class="tags">
        <span>SEO</span>
        <span>Контент-маркетинг</span>
        <span>Аудит сайта</span>
      </div>
      <div class="tags under">
        <span>Ссылочное продвижение</span>
        <span>Техническая оптимизация</span>
      </div>
      <img class="bg" src="/images/bg1.jpg" alt="SEO illustration" />
      <div class="promo-bottom">
        <div class="progress">
          <img class="icon" src="/icons/progress.svg" alt="Progress" />
          <p>Креативность, инновации, прогресс</p>
        </div>
        <span class="numberOne">01</span>
      </div>
    </div>

    <div class="promo-stats--mobile">
      <p>98% Успешных кейсов</p>
      <p>24/7 Поддержка клиентов</p>
      <p>300+ Сделанных проектов</p>
    </div>

    <div class="promo-card small">
      <p>Digital продукты</p>
      <span>02</span>
    </div>
    <div class="promo-card small blue">
      <span>03</span>
      <p>Маркетинг</p>
    </div>
    <div class="promo-card active">
      <img class="bg" src="/images/bg4.jpg" alt="SEO illustration" />
      <div class="blur">
        <span class="numberFour">04</span>
        <div class="icon-circle">
          <img src="/icons/seo.svg" alt="SEO" />
        </div>
        <div class="active-content">
          <p class="active-title">ТОПОВОЕ SEO ПРОДВИЖЕНИЕ</p>
          <p class="active-text">Продвигаем сайты, повышаем их видимость и привлекаем целевой трафик для роста бизнеса.</p>
          <a href="#" class="btn-more"
            >Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo-card small blue">
      <span>05</span>
      <p>Создание сайтов</p>
    </div>
    <div class="promo-card small">
      <span>06</span>
      <p>Дизайн</p>
    </div>
  </div>

  <div class="promo-slider">
    <div class="promo-card active">
      <img class="bg" src="/images/bg2.jpg" alt="Digital продукты" />
      <div class="blur">
        <span class="numberFour">02</span>
        <div class="icon-circle">
          <img src="/icons/digital.svg" alt="digital" />
        </div>
        <div class="active-content">
          <p class="active-title">DIGITAL ПРОДУКТЫ</p>
          <p class="active-text">Создаем и развиваем digital-продукты: от веб-сервисов и мобильных приложений до сложных платформ.</p>
          <a href="#" class="btn-more">
            Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo-card active">
      <img class="bg" src="/images/bg3.jpg" alt="Marketing" />
      <div class="blur">
        <span class="numberFour">03</span>
        <div class="icon-circle">
          <img src="/icons/marketing.svg" alt="Marketing" />
        </div>
        <div class="active-content">
          <p class="active-title">МАРКЕТИНГ</p>
          <p class="active-text">Настраиваем и ведем рекламу, продвигаем в соцсетях, привлекаем лидов и повышаем лояльность.</p>
          <a href="#" class="btn-more">
            Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo-card active">
      <img class="bg" src="/images/bg4.jpg" alt="SEO illustration" />
      <div class="blur">
        <span class="numberFour">04</span>
        <div class="icon-circle">
          <img src="/icons/seo.svg" alt="SEO" />
        </div>
        <div class="active-content">
          <p class="active-title">ТОПОВОЕ SEO ПРОДВИЖЕНИЕ</p>
          <p class="active-text">Продвигаем сайты, повышаем их видимость и привлекаем целевой трафик для роста бизнеса.</p>
          <a href="#" class="btn-more">
            Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo-card active">
      <img class="bg" src="/images/bg5.jpg" alt="Создание сайтов" />
      <div class="blur">
        <span class="numberFour">05</span>
        <div class="icon-circle">
          <img src="/icons/create.svg" alt="Create" />
        </div>
        <div class="active-content">
          <p class="active-title">СОЗДАНИЕ САЙТОВ</p>
          <p class="active-text">Разрабатываем продающие сайты, которые привлекают клиентов, отражают ценности бренда.</p>
          <a href="#" class="btn-more">
            Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
    <div class="promo-card active">
      <img class="bg" src="/images/bg6.jpg" alt="Дизайн" />
      <div class="blur">
        <span class="numberFour">06</span>
        <div class="icon-circle">
          <img src="/icons/design.svg" alt="Design" />
        </div>
        <div class="active-content">
          <p class="active-title">ДИЗАЙН</p>
          <p class="active-text">Создаем целостный визуальный образ бренда: от логотипа и айдентики до дизайна интерфейсов.</p>
          <a href="#" class="btn-more">
            Подробнее
            <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-dots"></div>

  <div class="promo-stats">
    <p>98% Успешных кейсов</p>
    <p>24/7 Поддержка клиентов</p>
    <p>300+ Сделанных проектов</p>
  </div>
</section>
