<section class="servicesPanel">
  <div class="servicesPanel__container">
    <p class="servicesPanel__item">Яндекс продвижение</p>
    <p class="servicesPanel__item">Google продвижение</p>
    <p class="servicesPanel__item">Разработка сайтов</p>
    <p class="servicesPanel__item servicesPanel__item--hide-small">Интернет-магазины</p>
    <p class="servicesPanel__item servicesPanel__item--hide-medium">Мобильные приложения</p>
    <p class="servicesPanel__item servicesPanel__item--hide-tablet">Брендинг</p>
    <p class="servicesPanel__item servicesPanel__item--hide-tablet">SEO-продвижение</p>
    <p class="servicesPanel__item servicesPanel__item--hide-tablet">Лендинги</p>

    <div class="servicesPanel__more">
      <p>Больше услуг</p>
      <img src="/icons/arrow-blue.svg" alt="arrow blue" />
    </div>

    <div class="servicesPanel__mobile">
      <p>Предоставляемые услуги</p>
      <img src="/icons/arrow-black.svg" alt="arrow black" />
    </div>
  </div>
</section>
