<div class="services">
  <div class="services__header">
    <h1 class="services__title">Наши услуги</h1>
    <p class="services__subtitle">Услуги, которые ускоряют рост вашего бизнеса</p>
  </div>

  <div class="services__grid">
    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Топовые позиции</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">SEO<br />продвижение</h3>
        <div class="services__card-bottom">
          <div class="services__number">01</div>
          <div class="services__card-footer">
            <span class="services__badge">Рост бизнеса</span>
            <div class="services__icon">
              <img src="/icons/business-growth.svg" alt="Business growth" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Всё включено</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">Разработка<br />сайтов</h3>
        <div class="services__card-bottom">
          <div class="services__number">02</div>
          <div class="services__card-footer">
            <span class="services__badge">Качество</span>
            <div class="services__icon">
              <img src="/icons/quality.svg" alt="Quality" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Гарантия качества</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">Интернет<br />магазины</h3>
        <div class="services__card-bottom">
          <div class="services__number">03</div>
          <div class="services__card-footer">
            <span class="services__badge">Скорость</span>
            <div class="services__icon">
              <img src="/icons/speed.svg" alt="Speed" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services__slider">
    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Топовые позиции</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">SEO<br />продвижение</h3>
        <div class="services__card-bottom">
          <div class="services__number">01</div>
          <div class="services__card-footer">
            <span class="services__badge">Рост бизнеса</span>
            <div class="services__icon">
              <img src="/icons/business-growth.svg" alt="Business growth" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Всё включено</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">Разработка<br />сайтов</h3>
        <div class="services__card-bottom">
          <div class="services__number">02</div>
          <div class="services__card-footer">
            <span class="services__badge">Качество</span>
            <div class="services__icon">
              <img src="/icons/quality.svg" alt="Quality" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services__card">
      <div class="services__card-top">
        <span class="services__badge">Гарантия качества</span>
        <img src="/icons/arrow-big.svg" alt="arrow up" class="services__arrow" />
      </div>
      <div class="services__card-main">
        <h3 class="services__card-title">Интернет<br />магазины</h3>
        <div class="services__card-bottom">
          <div class="services__number">03</div>
          <div class="services__card-footer">
            <span class="services__badge">Скорость</span>
            <div class="services__icon">
              <img src="/icons/speed.svg" alt="Speed" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services__dots"></div>
</div>
