<section class="services-panel">
  <div class="services-container">
    <p class="service-item">Яндекс продвижение</p>
    <p class="service-item">Google продвижение</p>
    <p class="service-item">Разработка сайтов</p>
    <p class="service-item hide-on-small">Интернет-магазины</p>
    <p class="service-item hide-on-medium">Мобильные приложения</p>
    <p class="service-item hide-on-tablet">Брендинг</p>
    <p class="service-item hide-on-tablet">SEO-продвижение</p>
    <p class="service-item hide-on-tablet">Лендинги</p>

    <div class="services-more">
      <p>Больше услуг</p>
      <img src="/icons/arrowBlue.svg" alt="Arrow Blue" />
    </div>

    <div class="services-mobile">
      <p>Предоставляемые услуги</p>
      <img src="/icons/arrowBlack.svg" alt="Arrow Black" />
    </div>
  </div>
</section>
