.advantages {
  margin-top: 50px;
}

.advantages__content {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.advantages__subtitle {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.advantages__title {
  font-size: 74px;
  font-weight: 600;
}

.advantages__title span {
  color: #0c47a0;
}

.advantages__right {
  max-width: 408px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1312px;
  margin: 0 auto;
  padding: 60px 0 50px 0;
  justify-content: space-between;
}

.advantages__card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 418px;
  width: 100%;
  height: 637px;
  cursor: pointer;
  padding: 39px 42px;
}

.advantages__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 2;
}

.advantages__card--other::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 2;
}

.advantages__card--active.advantages__card--other::before,
.advantages__card--active::before {
  display: none;
}

.advantages__card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.advantages__card-img--last {
  object-position: 72% center;
}

.advantages__card-number {
  position: absolute;
  top: 41px;
  left: 39px;
  width: 76px;
  height: 76px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
}

.advantages__card-number--other {
  top: auto;
  left: 39px;
  bottom: 41px;
  border: 1px solid #939393;
  color: #393939;
}

.advantages__card-text {
  position: absolute;
  bottom: 42px;
  left: 39px;
  right: 39px;
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
  z-index: 2;
  line-height: 1.1;
}

.advantages__card-text--other {
  position: absolute;
  top: 42px;
  right: 39px;
  left: 39px;
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
  z-index: 2;
  line-height: 1.1;
}

.advantages__card-title {
  color: #393939;
  position: absolute;
  bottom: 42px;
  left: 39px;
  right: 39px;
  font-size: 36px;
  font-weight: 600;
  border-top: 1px solid #939393;
  line-height: 1.1;
  padding-top: 25px;
}

.advantages__card-title--other {
  top: 42px;
  left: 39px;
  right: 39px;
  border-top: none;
  max-height: fit-content;
  border-bottom: 1px solid #939393;
  padding: 0 0 25px 0;
}

/* Active */

.advantages__card:not(.advantages__card--active) .advantages__card-description {
  display: none !important;
}

.advantages__card:not(.advantages__card--active) .advantages__card-title {
  display: none !important;
}

.advantages__card--active {
  background: #f4f4f4 !important;
  display: flex !important;
  flex-direction: column !important;
}

.advantages__card:not(.advantages__card--active) {
  background: transparent !important;
  display: block !important;
}

.advantages__card--active .advantages__card-img {
  display: none;
}

.advantages__card--active .advantages__card-number {
  border: 1px solid #939393;
  color: #393939;
}

.advantages__card--active .advantages__card-text {
  display: none;
}

.advantages__card--active .advantages__card-description {
  font-size: 18px;
  display: flex;
  color: #939393;
  margin-top: 50%;
  line-height: 1;
}

.advantages__card--active .advantages__card-description--other {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 91px;
}

.advantages__card--active .advantages__card-title {
  display: block;
}

.advantages__slider-dots {
  display: none;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

.advantages__slider-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.advantages__slider-dot--active {
  background-color: #0c47a0;
}

@media (max-width: 1350px) {
  .advantages__content {
    padding: 0 24px;
  }

  .advantages__cards {
    padding: 60px 24px 50px 24px;
    gap: 18px;
  }

  .advantages__card {
    max-width: calc(33.333% - 12px);
    width: calc(33.333% - 12px);
    height: auto;
    aspect-ratio: 418 / 637;
  }

  .advantages__card-text,
  .advantages__card-text--other {
    font-size: clamp(20px, 2.7vw, 36px);
  }

  .advantages__card-title,
  .advantages__card-title--other {
    font-size: clamp(20px, 2.7vw, 36px);
  }
}

@media (max-width: 1194px) {
  .advantages__title {
    font-size: 58px;
  }

  .advantages__card {
    max-width: calc(33.333% - 12px);
    width: calc(33.333% - 12px);
    padding: 31px 23px;
  }

  .advantages__card-number--other {
    bottom: 31px;
    left: 23px;
    top: auto;
  }

  .advantages__card-number {
    top: 31px;
    left: 23px;
    top: auto;
  }

  .advantages__card-title--other,
  .advantages__card-text--other {
    top: 31px;
    right: 23px;
    left: 23px;
  }

  .advantages__card-title,
  .advantages__card-text {
    bottom: 31px;
    right: 23px;
    left: 23px;
  }
}

@media (max-width: 1140px) {
  .advantages__card--active .advantages__card-description {
    margin-top: 42%;
    font-size: clamp(14px, 0.7vw, 18px);
  }

  .advantages__card--active .advantages__card-description--other {
    margin-top: 5%;
    font-size: clamp(14px, 0.7vw, 18px);
  }
}

@media (max-width: 949px) {
  .advantages__cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 18px;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .advantages__card--active .advantages__card-description {
    font-size: 18px;
  }

  .advantages__card--active .advantages__card-description--other {
    font-size: 18px;
  }

  .advantages__card-title,
  .advantages__card-title--other {
    font-size: 36px;
  }

  .advantages__cards::-webkit-scrollbar {
    display: none;
  }

  .advantages__card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 342px;
    width: 100%;
    height: auto;
    aspect-ratio: 342 / 518;
  }

  .advantages__card {
    padding: 25px;
  }

  .advantages__card-number {
    width: 76px;
    height: 76px;
    top: 25px;
    left: 25px;
  }

  .advantages__card-number--other {
    bottom: 41px;
    left: 39px;
    top: auto;
  }

  .advantages__card-text {
    font-size: 32px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-text--other {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-title {
    font-size: 32px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-title--other {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__slider-dots {
    display: flex;
  }
}

@media (max-width: 768px) {
  .advantages__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .advantages__title {
    font-size: 40px;
  }

  .advantages__right {
    font-size: 16px;
  }

  .advantages__card {
    width: 80vw;
    max-width: 350px;
  }
}

@media (max-width: 500px) {
  .advantages__card {
    max-width: 342px;
    width: 100%;
    padding: 25px;
    max-height: 518px;
  }

  .advantages__card-number {
    top: 25px;
    left: 25px;
  }

  .advantages__card-number--other {
    bottom: 25px;
    right: 25px;
    top: auto;
  }

  .advantages__card-text {
    font-size: 32px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-text--other {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-title {
    font-size: 32px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card-title--other {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  .advantages__card--active .advantages__card-description {
    margin-top: 41%;
  }
}

@media (max-width: 386px) {
  .advantages__card--active .advantages__card-description {
    font-size: clamp(12px, 4vw, 16px);
  }

  .advantages__card--active .advantages__card-title {
    font-size: clamp(24px, 8vw, 28px);
  }
}
