.data-growth {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px auto 0;
  gap: 15px;
  max-width: 1311px;
}

.data-growth__content {
  flex: 0 0 285px;
}

.data-growth__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: start;
}

.data-growth__button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: var(--color-main);
  color: var(--white);
  padding: 8px 12px;
  border-radius: 16px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  max-width: 160px;
  transition: transform 0.3s ease;
}

.data-growth__button:hover {
  transform: scale(1.05);
}

.data-growth__stats {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 36px;
  max-width: 100%;
}

.data-growth__stat-card {
  background: var(--color-main4);
  border-radius: 30px;
  padding: 30px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  max-width: 211px;
  width: 100%;
  transition: all 0.3s ease;
}

.data-growth__stat-card-img {
  border-radius: 50%;
  border: 1px solid var(--white);
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-growth__stat-card-img img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.data-growth__stat-card-text {
  min-width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-growth__stat-card-title {
  font-size: 14px;
  margin: 0;
}

.data-growth__stat-card-value {
  font-size: 24px;
  margin: 2px 0 0;
}

@media (max-width: 1311px) {
  .data-growth {
    padding: 0 24px;
  }

  .data-growth__stats {
    gap: 24px;
  }

  .data-growth__stat-card {
    max-width: 188px;
    padding: 16px 20px;
  }

  .data-growth__stat-card-value {
    font-size: 20px;
  }

  .data-growth__stat-card-img {
    width: 54px;
    height: 54px;
  }

  .data-growth__title {
    font-size: 30px;
  }
}

@media (max-width: 1171px) {
  .data-growth__stat-card {
    max-width: 167px;
    padding: 8px 12px;
  }
}

@media (max-width: 1087px) {
  .data-growth__stats {
    justify-content: space-between;
  }

  .data-growth__stat-card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
  }

  .data-growth__content {
    flex: none;
  }
}

@media (max-width: 991px) {
  .data-growth {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .data-growth__stats {
    justify-content: center;
    width: 100%;
  }

  .data-growth__stat-card {
    flex: 1 1 calc(25% - 24px);
    max-width: none;
  }

  .data-growth__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .data-growth__stats {
    justify-content: center;
    gap: 20px;
  }

  .data-growth__stat-card-value {
    font-size: 20px;
  }

  .data-growth__stat-card-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 541px) {
  .data-growth__stats {
    justify-content: center;
    gap: 12px;
  }

  .data-growth__stat-card {
    flex: 1 1 calc(50% - 12px);
    max-width: 230px;
    padding: 16px 12px;
    gap: 10px;
  }

  .data-growth__stat-card-img {
    width: 46px;
    height: 46px;
  }

  .data-growth__stat-card-value {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .data-growth__stats {
    gap: 8px;
  }

  .data-growth__stat-card {
    padding: 14px 10px;
    border-radius: 20px;
    max-width: 167px;
  }

  .data-growth__stat-card-value {
    font-size: 17px;
  }

  .data-growth__title {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .data-growth__stat-card {
    max-width: 100%;
  }
}
