.data-growth {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 15px;
  margin: 0 auto;
  max-width: 1311px;
  align-items: center;
}

.data-growth__content {
  flex: 0 0 300px;
}

.data-growth__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.data-growth__button {
  display: inline-block;
  background: #0c47a0;
  color: #fff;
  padding: 8px 10px;
  border-radius: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  max-width: 148px;
  font-size: 14px;
  gap: 6px;
}

.data-growth__stats {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.stat-card {
  background: #f4f4f4;
  border-radius: 30px;
  padding: 30px 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  min-width: 140px;
  max-height: 87px;
}

.stat-card__img {
  border-radius: 50px;
  border: 1px solid #fff;
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-card img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.stat-card__title {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.stat-card__value {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 2px 0 0;
}
