.servicesPanel {
  padding: 0 24px;
  margin: 20px auto 0 auto;
}

.servicesPanel__container {
  max-width: 1214px;
  background: var(--color-main4);
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  height: 33px;
  margin: 20px auto 0;
  padding: 0 8px;
}

.servicesPanel__item {
  display: block;
  margin: 0;
  padding: 6px 10px;
  font-size: 14px;
}

.servicesPanel__more {
  display: none;
}

.servicesPanel__more p {
  color: var(--color-main);
  padding: 0;
  font-size: 14px;
}

.servicesPanel__mobile {
  display: none;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .servicesPanel {
    max-width: 90%;
  }

  .servicesPanel__item--hide-tablet {
    display: none;
  }

  .servicesPanel__more {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
  }
}

@media (max-width: 1117px) {
  .servicesPanel__item--hide-medium {
    display: none;
  }
}

@media (max-width: 921px) {
  .servicesPanel__item--hide-small {
    display: none;
  }
}

@media (max-width: 768px) {
  .servicesPanel {
    max-width: 100%;
  }

  .servicesPanel__container {
    justify-content: center;
  }

  .servicesPanel__item,
  .servicesPanel__more {
    display: none;
  }

  .servicesPanel__mobile {
    display: flex;
  }
}
